@import "./fonts";
@import "./reset";
@import "./mixins";
@import "./blocks/page.scss";
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";


.page__body {
  position: relative;
  background: #293B2B;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(22, 26, 22, 0) -37.5%, #161A16 68%);
  z-index: 2;
  color: white;

  a {
    color: white;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;

    @include onDesktop {
      height: 60px;
    }
  }

  &__actions {
    position: absolute;
    right: 0;
    display: flex;
    gap: 19px;
    align-items: center;

    &-underline {
      display: none;

      @include onDesktop {
        display: block;
        font-family: 'InterRegular';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
    }

    &-btn {
      font-family: 'InterRegular';
      font-style: normal;
      font-weight: 600;
      font-size: 10.6667px;
      line-height: 13px;
      background: linear-gradient(102.12deg, #63D737 7.53%, #058048 98.25%);
      border-radius: 240.667px;
      border: none;
      color: #fff;
      padding: 4px 16px;

      @include onDesktop {
        font-size: 16px;
        line-height: 19px;
        padding: 5px 25px;

      }
    }
  }

  .bottom-action {
    top: 33px;
    position: relative;
    right: 25%;
    width: 211px;
    height: 26px;
    background: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 13.32px 13.32px;
    color: #293b2b;

    .text-wrap {
      text-align: center;
      padding: 3px 30px;
      @include onDesktop {
        
        padding: 14px 22px;
      }
    }

    &__text1 {
      display: none;
      font-family: 'InterItalic';
      font-style: italic;
      font-weight: 900;
      font-size: 10.3256px;
      line-height: 12px;

      @include onDesktop {
        display: block;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__text2 {
      display: none;
      font-family: 'InterItalic';
      font-style: italic;
      font-weight: 900;
      font-size: 10.3256px;
      line-height: 12px;

      @include onDesktop {
        display: block;
        font-size: 28px;
        line-height: 34px;
      }
    }
    &__text3 {
      display: block;
      font-family: 'InterItalic';
      font-style: italic;
      font-weight: 900;
      font-size: 10.3256px;
      line-height: 12px;

      @include onDesktop {
        display: none;
        font-size: 28px;
        line-height: 34px;
      }
    }

    @include onDesktop {
      top: 73px;
      right: 0;
      height: 86px;
      border-radius: 0px 0px 25.8px 25.8px;
    }
  }
}

.main-slider {
  &__wrapper {
    position: relative;
  }

  .titles {
    color: white;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);

    &__wrapper {
      position: relative;
      top: 75px;
      padding-left: 20%;
      min-width: 150px;
      z-index: 2;
      color: #fff;

      @include onTablet {
        padding-left: 20%;
      }

      @include onDesktop {
        position: absolute;
        left: 0;
        top: 150px;
        padding-left: 0;

      }
    }

    .title-1 {
      font-family: 'InterItalic';
      font-style: italic;
      font-weight: 900;
      font-size: 24.0958px;
      line-height: 29px;

      @include onDesktop {
        font-size: 43.5572px;
        line-height: 53px;
      }
    }

    .title-2 {
      font-family: 'InterItalic';
      font-style: italic;
      font-weight: 900;
      font-size: 24.0958px;
      line-height: 29px;
      padding-left: 40px;

      @include onDesktop {
        font-size: 43.5572px;
        line-height: 53px;
        padding-left: 75px;
      }
    }

    .title-3 {
      font-family: 'InterItalic';
      font-style: italic;
      font-weight: 900;
      font-size: 31.3245px;
      line-height: 38px;

      @include onDesktop {
        font-weight: 900;
        font-size: 56.6243px;
        line-height: 69px;
      }
    }
  }

  &__item {

    .content {
      display: flex;
      flex-direction: column;
      color: white;
     
      position: relative;
      left: 20%;

      &__wrapper {
        position: absolute;
        bottom: 525px;
        

        @include onDesktop {
          bottom: 125px;
          left: unset;
        }
      }

      a {
        color: white;
      }
      
      .subtitle {
        font-family: 'InterRegular';
        font-style: normal;
        font-weight: 600;
        font-size: 15.7428px;
        line-height: 120%;
        text-align: center;

        @include onDesktop {
          text-align: left;
          font-weight: 600;
          font-size: 32px;
          line-height: 120%;
        }

        .br {
          display: none;
          @include onDesktop {
            display: block;
          }
        }

      }

      .btncont {
        padding-top: 10px;

        @include onDesktop {
          padding-top: 30px;
        }
        .button {
          display: inline-block;
          position: relative;
          color: #fff;
          text-decoration: none;
          background: linear-gradient(102.12deg, #63D737 7.53%, #058048 98.25%);
          border-radius: 61.1628px;
          padding: 8px 73px;
          overflow: hidden;

          @include onDesktop {
            background: linear-gradient(102.12deg, #63D737 7.53%, #058048 98.25%);
            border-radius: 100px;
            padding: 13px 120px;
          }

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 1em;
            background-color: rgba(rgb(235, 246, 235), 0.6);
            transform: translateX(-4em) skewX(-35deg);
            animation: move-light 1.9s infinite;
            animation-delay: 3s;
          }
        }
      }

      @include onTablet {
        left: 80%;
      }

      @include onDesktop {
        left: unset;
      }
    }
  }
}
.slick-dots li {
  // position: static;
  background: #D9D9D9;
  border-radius: 1010px;;
  }

.slick-dots li[class="slick-active"] button {
  background: linear-gradient(102.12deg, #63D737 7.53%, #058048 98.25%);
  border-radius: 1010px;;
}

@keyframes move-light {
  from {
    transform: translateX(-4em) skewX(-45deg); 
  }
  to {
    transform: translateX(21em) skewX(-45deg);
  }
}